<!DOCTYPE html>
<html>
<head>
    <title>WebSocket with Webcam Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to the server');
        });

        
        socket.on('detection', function (data) {
            console.log('Detection - Object:', data.class_name);
            console.log('Confidence:', data.confidence);
            console.log('Bounding Box:', data.bbox);
            console.log('Track ID:', data.track_id);
            console.log(`Movement Pattern: ${data.pattern}`);
        });

        function startWebcam() {
            var video = document.getElementById('webcamVideo');
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (error) {
                        console.log("Error accessing webcam: " + error);
                    });
            }
        }
    </script>
</head>
<body onload="startWebcam()">
    <h1>Fish View Below</h1>
    
    <!-- Webcam Container -->
    <div id="webcamContainer">
        <video id="webcamVideo" width="640" height="480" autoplay></video>
    </div>
</body>
</html>
