<!DOCTYPE html>
<html>

<head>
    <title>WebSocket with Webcam Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to the server');
        });


        socket.on('detection', function (data) {
            console.log('Detection - Object:', data.class_name);
            console.log('Confidence:', data.confidence);
            console.log('Bounding Box:', data.bbox);
            console.log('Track ID:', data.track_id);
            console.log(`Movement Pattern: ${data.pattern}`);
        });

        function startWebcam() {
            var video = document.getElementById('webcamVideo');
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (error) {
                        console.log("Error accessing webcam: " + error);
                    });
            }
        }
    </script>
    <script>
        // Replace with your Raspberry Pi's IP address
        const RASPBERRY_PI_API = 'http://10.9.208.223:5000/sensors';

        async function fetchSensorData() {
            try {
                const response = await fetch(RASPBERRY_PI_API);
                const data = await response.json();
                console.log(data.temperature);
                console.log(data.tds);
            } catch (error) {
                console.error('Error fetching sensor data:', error);
            }
        }

        // Fetch sensor data every 1 seconds
        setInterval(fetchSensorData, 1000);

        // Initial fetch
        fetchSensorData();
    </script>
</head>

<body onload="startWebcam()">
    <h1>Fish View Below</h1>

    <!-- Webcam Container -->
    <div id="webcamContainer">
        <video id="webcamVideo" width="1920" height="1080" autoplay></video>
    </div>
</body>

</html>